footer {
    /* position: fixed;
    bottom: 0; */
    background-color: #313336;
    text-align: center;
    margin-top: auto;
}

.footer-links {
    justify-content: center;
    padding: 8px;
}

footer small {
    color: rgb(192, 192, 192);
}

footer a {
    background: none;
    padding: 0 5px;
}
