@import 'helpers.css';
@import 'header.css';
@import 'img-gallery.css';
@import 'layout.css';
* {
    box-sizing: border-box;
}

body {
    background-color: #22252c;
}

canvas {
    border: 1px solid black;
}

img {
    width: 100%;
}
