@import 'helpers.css';
@import 'header.css';
@import 'img-gallery.css';
@import 'layout.css';
@import 'meme-editor.css';

@font-face {
    font-family: poppins;
    src: url(../fonts/Poppins-Regular.ttf);
}

* {
    box-sizing: border-box;
    font-family: poppins;
}

body {
    background-color: #383b42;
    margin: 0;
}

canvas {
    border: 1px solid black;
}

img {
    width: 100%;
}

button {
    border: none;
    border-radius: 1em;
}
